#services {
    border-bottom: 8px solid #f36b47;
    padding: 50px 25px 22px;
    overflow: hidden;
}

@media only screen and (min-width: 785px) {
    #services {
        padding: 14px 15px 3px;
        border-bottom: none;
    }
}

@media only screen and (min-width: 992px) {
    #services {
        padding-top: 23px;
    }
}

#services ul li {
    text-align: center;
    margin-bottom: 28px;
    float: left;
    padding: 0 15px;
}

@media only screen and (min-width: 785px) {
    #services ul li {
        margin-bottom: 60px;
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    #services ul li {
        margin-bottom: 46px;
        width: 25%;
    }
}

#services .fa {
    color: #f36b47;
    font-size: 30px;
}

#services h3 {
    margin: 11px 0 13px;
    font-weight: 400;
    font-size: 24px;
}

@media only screen and (min-width: 785px) {
    #services h3 {
        font-size: 18px;
        font-weight: 400;
        margin: 13px 0 17px;
    }
}

#services h3 a:hover {
    text-decoration: underline;
}

#services p {
    font-size: 16px;
    line-height: 18px;
    color: #b1b0b0;
    padding: 0 37px;
}

@media only screen and (min-width: 785px) {
    #services p {
        font-size: 11px;
        margin: 0 auto;
        text-align: left;
        max-width: 290px;
    }
}
