.talk {
    padding: 84px 0 105px;
    background-color: #7a7a7a;
    color: white;
}

@media only screen and (min-width: 785px) {
    .talk {
        padding-bottom: 63px;
    }
}

@media only screen and (min-width: 992px) {
    .talk {
        padding-bottom: 124px;
    }
}

.talk h2 {
    font-size: 58px;
}

.talk h2 span {
    color: #f36b47;
}

.talk p {
    font-size: 22px;
    line-height: 25px;
    padding-top: 45px;
}

@media only screen and (min-width: 785px) {
    .talk p {
        font-size: 15px;
        padding-top: 36px;
        max-width: 74%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 992px) {
    .talk p {
        padding-top: 25px;
    }
}